
p{ line-height: 1em; }
h1, h2, h3, h4{
    color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
a{
	color: black;
text-decoration: none;}

body{
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0;
}

#page{ margin: 20px; }

#nav{
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
		}
			#nav ul li a{
				padding: 20px;
				background: orange;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #ffb424;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: #ff8f00; }

#content{
	margin: 50px 0;
	background: white;
	padding: 20px;
	clear: both;
}

h2 {
	text-align : center;
	padding : 5px;
	border-bottom : 1px solid #7C7063;
}

p {
	text-indent : 50px;
	line-height : 25px;
}

#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}

#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}
	#footer {
		clear : both;
		margin-top : 20px;
        border-top : 1px;
        
		font-size: 80%;
		color: grey;
		}
		
#content,
ul li a{ box-shadow: 0px 1px 1px #999; }